
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item ">
                  <a class="nav-link" routerLink="/home">Home</a>
                </li>
            <li class="nav-item active">
              <a class="nav-link"  routerLink="/about">ABOUT </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/help">HELP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/data">data-binding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="/event">click me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="/two-way">two-way-binding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="/ngif">NG-If</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="/item">ngfor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="/ngswitch">ngswitch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link float-right"routerLink="/register">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link float-right"routerLink="/Assignment">ASSIGNMENT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link float-right"routerLink="/reativeform">Reative form</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link float-right"routerLink="/parent">parent form</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link float-right"routerLink="/comment">Comment form</a>
                    </li>
                  
                    
          </ul>
          <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/register" type="submit">Register</button>
            <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="submit">LOGIN</button>
          </form>
          <!-- <button routerLink="/event">click me</button> -->
        </div>
      </nav>