

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                    <a class="nav-link" >Tech Elevate</a>
                  </li>
          <li class="nav-item ">
              <a class="nav-link" routerLink="/parenthome">Home</a>
            </li>
        <li class="nav-item ">
          <a class="nav-link"  routerLink="/parentcars">Cars </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/parentbikes">Bikes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/parentmovies">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/parentlaptop"> Laptops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/parentmobiles">Mobiles</a>
        </li>
        
       
      
        
        
      </ul>
    </div>
  </nav>