<p>assignmentfour works!</p>
<!-- <p>register works!</p> -->
<!-- <h1>Register Component</h1> -->

<form action="" class="col-md-4 offset-4 mt-5 card card-body bg-primary" #form = "ngForm" (ngSubmit)="loginform(form)" >
        <h1 class="text-center ">Product Description</h1>
        <div class="form-group">
            <input type="text" name="Product Name" id="name" class="form-control " placeholder="Product Name......" #text = "ngModel" ngModel required >
            <div *ngIf="text.touched && text.invalid">
                <p class="alert alert-danger" *ngIf="text.errors.required">*</p>

        </div> 
            
        </div>
        <div class="form-group">
                <input type="number" name="number" id="number" class="form-control " placeholder="Product Price......"  >
                
            </div>
            <div class="form-group">
                    <input type="text" name="text" id="Decristion" class="form-control " placeholder="Product Decristion......" >
                    
                </div>
                <div class="form-group">
                        <input type="image" name="Product image" id="image" class="form-control " placeholder="Product image......" >
                        
                    </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-outline-danger float-right" >Shedule Interval</button>
        </div>
    </form>