di{
    height: 950%;
}
diu{
    padding: 5px 5px 5px 5px;
    margin : 10px 20px 30px 10px;
}
img{
    padding: 5px 5px 5px 5px ;
    margin: 100px 100px 100px 60px;
}
par{
    font-size: 50px;
    height: 30px;
    
}